@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Merriweather Sans", serif;
}
/* Banner styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: url("../images/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  margin-top: 30px;
  border-radius: 16px;
  background-blend-mode: overlay;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner-content p,
h1 {
  color: white;
}
.banner-content p {
  font-size: 24px;
  font-weight: 400;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 800;
}
/* categories styles */

.categories {
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 100px;
}
.categories-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories-content h2 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.categories-content p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  color: rgb(255, 0, 0);
}
.categories-content h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  margin-top: 16px;
  color: rgb(7, 2, 17);
}
.new-year-img {
  margin-top: 64px;
  position: absolute;
  width: 802.9px;
  height: 500px;
  border: 1px dashed gray;
}
