@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Merriweather Sans", serif;
}
/* Banner styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: url("../images/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  margin-top: 30px;
  border-radius: 16px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner-content p,
h1 {
  color: white;
}
.banner-content p {
  font-size: 24px;
  font-weight: 400;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 800;
}
/* categories styles */

.categories {
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 70px;
}
.categories-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories-content h2 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.categories-content p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  color: rgb(255, 0, 0);
}
.categories-content h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  margin-top: 16px;
  color: rgb(7, 2, 17);
}
.new-year-img {
  margin-top: 64px;
  position: absolute;
  width: 802.9px;
  height: 500px;
  border: 2px dashed lightgray;
}

/* Midnight party styles */
.midnight-party {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/Vectorrr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
.midnight-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 126px;
  margin-top: 50px;
}
.midnight-content h1 {
  font-size: 60px;
  font-weight: 800;
}
.midnight-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: 12px;
}
.midnight-img {
  width: 349.16px;
  height: 464.65px;
  margin-right: 150px;
}
.midnight-content button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  margin-top: 12px;
  border: none;
  cursor: pointer;
}

/* Places styles */
.place-container {
  width: 1320px;
  height: 400px;
  margin: 0 auto;
  border-radius: none;
  background-color: hsl(0, 14%, 96%);
  border: 1px solid lightgray;
}
.place-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.place-content p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}
.btn {
  width: 167px;
  height: 56px;
  margin-top: 48px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
/* Best offer styles */
.best-offer-container {
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.best-offer-content {
  width: 33%;
}
.best-offer-content h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.best-offer-content h2 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}
.best-offer-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.best-offer-img {
  border: 2px dashed lightgray;
}

.best-offer-3rd h2 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.best-offer-3rd p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.best-offer-3rd img {
  border: 2px dashed lightgray;
}

/* Holidays styles */
.holidays-container {
  width: 1320px;
  height: 986px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  position: relative;
}
.holidays-content {
  width: 1068px;
  height: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.holidays-content h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holidays-content h2 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holidays-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.solid-container {
  width: 1320px;
  height: 229px;
  background-color: red;
  border-radius: 16px 0px 16px 16px;
  position: absolute;
  top: 77%;
}
.gift-box {
  width: 796.46px;
  height: 662.07px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.girl-container {
  width: 429px;
  height: 433px;
  position: relative;
  right: 9.4%;
  top: 14.88%;
}
.discount {
  position: absolute;
  bottom: 35%;
  left: 43%;
  z-index: 1;
}

/* Portfolio styles */
.portfolio-container {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
  margin-top: 100px;
}
.portfolio-text-content h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 12px;
}
.portfolio-text-content h2 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}
.portfolio-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}
.item {
  width: 424px;
  height: 450px;
}
.item img {
  width: 100%;
  height: 100%;
}
.portfolio-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
/* Footer styles */
.footer-container {
  width: 1600px;
  height: 500px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 70px;
  background-color: black;
}
.footer-first-section {
  display: flex;
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  color: gray;
}
.social-icons {
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.footer-text {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
}
